.title-content__head {
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 26px;
  color: #13183f;
}

.title-content__sub {
  color: #83869a;
  font-size: 16px;
  margin: 1rem;
  line-height: 26px;
  font-weight: 500;
}

.title-content__btn {
  display: inline-block;
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  color: white;
  border-radius: 50px;
  width: 167px;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 1rem;
  text-decoration: none;
  text-align: center;
}
.title-content__btn:hover {
  background: linear-gradient(180deg, #f02aa6 0.04%, #ff6f48 100%);
  cursor: pointer;
}

@media (min-width: 600px) {
  .title-content {
    height: 50vh;
    width: 48%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .title-content__head {
    font-size: 36px;
  }

  .title-content__sub {
    font-size: 16px;
    font-weight: 500;
  }
}

@media (min-width: 1000px) {
  .title-content {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .title-content__head {
    font-size: 56px;
    line-height: 70px;
  }
}
